/*
@font-face {
  font-family: 'helvetica';
  src: url('fonts/helvetica.ttf') format('ttf');
}
@font-face {
  font-family: 'cetus';
  src: url('fonts/cetus.ttf') format('ttf');
}
@font-face {
  font-family: 'bloomingElegant';
  src: url('fonts/bloomingElegant.otf') format('otf');
}
@font-face {
  font-family: 'futura';
  src: url('fonts/futura.ttf') format('ttf');
}
@font-face {
  font-family: 'futuris';
  src: url('fonts/futuris.ttf') format('ttf');
}
*/

@font-face {

    font-family: "Mytupi";

    src: url("Mytupi.woff") format("woff");

}
@font-face {

    font-family: "Mytupi";

    src: url("mytupi.woff2") format("woff2");

}
@font-face {

    font-family: "AlteHaas";

    src: url("AlteHaas.woff") format("woff");

}
@font-face {

    font-family: "AlteHaas";

    src: url("AlteHaas.woff2") format("woff2");

}
body{
	font-family: "AlteHaas";
}
 .first-left-section h1,.navbar-brand h4, .second-left-section h1{
 	color: #2249F9;
 }	
#btn_link {
	margin: 8px 5px;
}
.first-left-section-btn{
	margin-top: 85px;
}
.first-left-section-btn input {
	height: 40px;
	border-radius: 0;
}
.get-demo-btn{
	font-size: 14px;
    padding: 10px 14px;
	background-color: #FDB81E;
	border-radius: 0;
	border: transparent;
	box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.1);

}
.loging-btn{
	padding: 10px 26px;
	font-size: 14px;
	border-radius: 0;
	box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.1);
	border: transparent;
}
.navbar-brand img {
	height: 39px;
	width: 159px;
}

.navbar-brand {
	padding: 14px !important;
}
.navbar-nav > li{
	padding: 0px 10px;

}
.navbar-nav a{
	color:#2651FB;
}
.nabar-left a{
	font-size:50px;
}
.navbar-nav{
	margin-left: 7px !important;
	padding: 1px;
	height: 60px;
}
.navbar-right{
	margin-right: -49px;
}
.first-left-section h3{
	color: #686869;
	
	font-size: 22px;
}
.first-left-section h1{
	
	font-size: 50px;
	font-weight: 569;
}
.first-left-section p{
	color: #1976fb;
	
	font-size: 20px;
	font-weight: 500;
}
.first-section {
	margin-top: 45px;
}
.first-section img {
	float: right;
}

.second-section img {
	margin-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float: right;
	margin-bottom: 80px;
}
.second-section-container{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FCFCFF;
}

.second-section{
	padding: 0;
    margin-top: 52px;
}
.second-left-section h4{
	color: #686869;
	padding-top: 30px;
	font-size: 20px;
}
.second-left-section h1{
	font-size: 45px;
	
}
.second-section-line{
	width: 268px;
	border-bottom: 2px solid #1976fb;
}
.third-section-container{
	margin-top: 90px;
}
.third-section-items{
	padding: 0px;
}

.third-section-items img {
	object-fit: cover;
}

.third-section-container h1 {
	color: #1976fb;
	font-size: 45px;
}
.third-section-container h4 {
	color: #1976fb;
	font-size: 20px;
	padding: 21px 36px;
	font-weight: bold;
}

.third-section-item-text {
	padding: 0px 36px;
font-size: 17px;
font-weight: normal;
}
.fourth-section-container h1 {
	color: #1976fb;
	font-size: 50px;
}
.fourth-section-container h4 {
	color: #686869;
    padding: 50px 194px 0px 0px;

}
.fourth-section-container{
	margin-top:90px;
}
.fourth-section img{
	float:right;
}
.fourth-right-section {
	margin-top: 97px;
}
.fourth-right-section h4 {
	padding-top: 50px;
}
.fourth-section-line{
	width: 265px;
	border-bottom: 2px solid #1976fb;
}
.fifth-section-container{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #F9FAFA;
	margin-top:160px;
	
}
.footer-section li{
	display: inline;
	border-right: 1px solid #1a75ff;
	padding-right: 20px;
	padding-left: 20px;
}
.links{
	margin-top: 30px;
	padding:9px 20px 30px 0px;
}
.footer-section a{
	color: #1a75ff;
}
.copyright{
	padding-left: 18px;
	padding-bottom: 20px;
}


@media only screen and (min-width: 1024px) {
	.navbar-left{
		margin-left: 40px !important;
	    padding: 1px;
	    height: 60px;
	}
	
	.third-section {
		padding: 40px 10px 50px 85px;
	}
	.second-left-section{
		padding: 40px 10px 50px 169px !important;
	}
	.first-left-section{
		padding: 133px 10px 50px 129px !important;
	}
	.first-right-section{
		padding: 50px 0px 0px 0px;
	}
	.third-section-container h4 {
		
	}
	.fourth-left-section{
		padding:  40px 45px 66px 0px;
	}
	.navbar-nav>li>a {
		font-size: 20px;
		padding-top: 21px;
	}
	.main-header {
		padding-right: 50px !important;
		padding-left: 120px !important;	
	}
	
	.fouth-section-bottom-image{
		position: absolute;
		margin:447px 529px 0px 580px;
	}
	.navbar-nav > li {
	    padding: 0px 8px !important;
	}

}
@media only screen and (max-width: 1024px) {
	.get-demo-btn{
		font-size: 12px;
	    padding: 11px 12px;

	}
	.loging-btn{
		padding: 10px 25px;
		font-size: 12px;
	}
}

.main-header {
	padding-left: 25px;
	padding-right: 50px;	
}
.navbar-nav > li {
	padding: 0px;
}
@media (min-width: 768px){
	.navbar-nav>li>a {
		padding: 23px 10px;
	    font-size: 18px;
	    font-weight: 500;
	}
	.main-header {
	    padding-left: 44px;
	    padding-right: 30px;
	}
	.navbar-right {
	     margin-right: 0px !important; 
	}
	nav .container-fluid {
		padding-right: 0 !important;
	     padding-left: 0 !important;
	}
	.first-left-section{
		padding-left: 50px;
	}

	.second-left-section{
		padding-left: 50px;
	}
	.first-left-section{
		padding-left: 50px;
	}
	.fourth-left-section{
		padding-left: 50px;
	}
	.fifth-upper-section {
		padding: 65px 0px 0px 28px;
	}
}
